button.mainBtn {
    font-weight: bold;
    color: white;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: #297a62;
    transition: 0.2s;
}
button.mainBtn:hover {
  background: rgb(111, 229, 113); 
}
button.mainBtn:active {
    background: rgb(111, 229, 113);
}

body {
	font-family: sans-serif;
	background-color: #62e6be;
}

table {
    font-family: sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

tr, td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(50, 85, 69);
    padding: 10px 20px;
}

tr {
    background: rgb(192, 255, 201);
}